<!DOCTYPE html>
<html>
<head>
  <title>To-Do List App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= listTitle %></h1>
  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="Add new item...">
    <button type="submit">Add</button>
  </form>
  <ul>
    <% items.forEach((item) => { %>
      <li>
        <%= item.name %>
        <form action="/delete" method="post" style="display:inline;">
          <input type="hidden" name="itemId" value="<%= item._id %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
